.img-icon4 {
  position: relative;
  width: 1396px;
  height: 937px;
  object-fit: cover;
}
.bg2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  backdrop-filter: blur(88px);
  width: 1401px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-child109 {
  position: absolute;
  top: 8px;
  left: 325px;
  border-radius: var(--br-69xl);
  width: 464px;
  height: 919px;
  object-fit: cover;
}
.frame-child110 {
  position: relative;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.group-parent14 {
  position: absolute;
  top: 136px;
  left: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child114 {
  position: absolute;
  top: 218px;
  left: 148px;
  border-radius: var(--br-5xl);
  background-color: var(--color-firebrick);
  width: 4px;
  height: 28px;
}
.frame-child115 {
  position: absolute;
  top: 56px;
  left: 50.2px;
  width: 56.5px;
  height: 43.4px;
  object-fit: cover;
}
.frame-child116 {
  position: relative;
  width: 64px;
  height: 65px;
  object-fit: cover;
}
.frame-child117,
.frame-child118 {
  position: absolute;
  top: 0;
  left: 64px;
  border-radius: var(--br-1215xl);
  background-color: var(--color-whitesmoke);
  width: 131px;
  height: 64px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.frame-child118 {
  top: 58px;
  left: 60px;
  background-color: var(--white);
  width: 68px;
  height: 56px;
}
.frame-child119 {
  position: absolute;
  top: 40px;
  left: 32px;
  width: 0;
  height: 10px;
  object-fit: contain;
}
.eng2 {
  position: absolute;
  top: 15px;
  left: 19px;
}
.vuesaxlineartranslate-icon3 {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.rectangle-parent15 {
  position: relative;
  width: 64px;
  height: 131px;
}
.group-parent15 {
  position: absolute;
  top: 718px;
  left: 48px;
  width: 64px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: center;
  color: var(--color-lightslategray-100);
  font-family: var(--paragraph-large);
}
.main-ing-icon2 {
  position: absolute;
  top: -76px;
  left: -92px;
  border-radius: var(--br-69xl);
  width: 1520px;
  height: 1134px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.div56 {
  position: relative;
  font-weight: 500;
}
.vuesaxlinearticket-icon5 {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.noti-child15 {
  position: relative;
  border-right: 1px dashed var(--color-lightslategray-100);
  box-sizing: border-box;
  width: 1px;
  height: 17px;
  opacity: 0.3;
}
.noti-child17 {
  position: relative;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.noti7 {
  position: absolute;
  top: -9px;
  left: 694px;
  border-radius: var(--br-104xl);
  background-color: var(--color-ghostwhite);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-xs)
    var(--padding-5xl);
  gap: var(--gap-5xs);
  opacity: 0;
  text-align: center;
  color: var(--color-lightslategray-100);
}
.vuesaxlineardirect-left-icon11 {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.back4,
.vuesaxlineardirect-left-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.vuesaxlineardirect-left-parent3 {
  gap: var(--gap-5xs);
}
.back4 {
  position: absolute;
  top: calc(50% - 439.5px);
  left: calc(50% - 268.5px);
  border-radius: var(--br-45xl);
  background-color: var(--white);
  box-shadow: 0 4px 100px rgba(218, 220, 245, 0.3);
  height: 54px;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  opacity: 0;
}
.vuesaxlineardirect-left-icon12 {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
  transform: rotate(-180deg);
}
.mext2,
.next-the-null2 {
  transform: rotate(180deg);
}
.next-the-null2 {
  position: relative;
  font-weight: 500;
}
.mext2 {
  position: absolute;
  top: calc(50% - 439.5px);
  left: calc(50% + 312.5px);
  border-radius: var(--br-45xl);
  background-color: var(--white);
  box-shadow: 0 4px 100px rgba(218, 220, 245, 0.3);
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  transform-origin: 0 0;
  opacity: 0;
}
.vuesaxlineardirect-left-icon13 {
  position: absolute;
  top: 492px;
  left: 228px;
  width: 91.6px;
  height: 91.6px;
  object-fit: contain;
}
.vip-ii2 {
  position: absolute;
  top: 625px;
  left: 61px;
  font-family: var(--paragraph-large);
}
.frame-child120,
.frame-child121,
.tittle-inner {
  position: absolute;
  top: 373px;
  left: 213.5px;
  width: 116.6px;
  height: 118.5px;
  object-fit: cover;
}
.frame-child120,
.frame-child121 {
  top: 498.8px;
  left: 210px;
  width: 492px;
  height: 330.8px;
}
.frame-child121 {
  top: 0;
  left: 0;
  width: 814.4px;
  height: 373.1px;
}
.vuesaxlinearheart-icon3 {
  position: relative;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.b11 {
  position: relative;
}
.vuesaxlinearheart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: center;
}
.frame-child122 {
  position: relative;
  border-right: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 37px;
  opacity: 0.3;
}
.frame-parent17,
.vuesaxlinearstar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent17 {
  position: absolute;
  top: 367px;
  left: 370.5px;
  border-radius: var(--br-45xl);
  background-color: var(--white);
  box-shadow: 0 4px 100px rgba(218, 220, 245, 0.3);
  width: 308px;
  height: 115px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.oct-20242 {
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 500;
}
.icon2 {
  position: relative;
  width: 65.2px;
  height: 42.9px;
  object-fit: cover;
}
.oct-2024-container {
  position: absolute;
  top: 214px;
  left: 257.5px;
  width: 65.2px;
  height: 61.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-7xs);
  opacity: 0;
  font-family: var(--font-outfit);
}
.tittle2,
.vector-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 814.4px;
  height: 498.8px;
}
.tittle2 {
  top: 802px;
  left: 512px;
  font-size: var(--font-size-xs);
  font-family: var(--paragraph-large);
}
.frame-child124 {
  position: absolute;
  top: 0;
  left: 0;
  width: 305px;
  height: 275px;
  object-fit: cover;
}
.promo5 {
  position: absolute;
  top: 142px;
  left: 47px;
  font-weight: 500;
}
.div58,
.ready2 {
  position: absolute;
  top: 9px;
  left: 60px;
}
.div58 {
  top: 0;
  left: 0;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  font-family: var(--paragraph-large);
  color: var(--color-black);
}
.ready-container {
  position: absolute;
  top: 180px;
  left: 47px;
  width: 102px;
  height: 57px;
  font-size: var(--font-size-base);
  color: var(--color-lightslategray-100);
}
.group-parent16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 305px;
  height: 275px;
}
.promo-child3,
.promo-child4,
.promo-child5 {
  position: absolute;
  top: 36px;
  left: 123px;
  border-radius: var(--br-45xl);
  width: 85px;
  height: 43px;
  object-fit: contain;
}
.promo-child4,
.promo-child5 {
  top: 73px;
  left: 166px;
  width: 128px;
}
.promo-child5 {
  top: 92.4px;
  left: 235.6px;
  width: 83.6px;
  height: 60.9px;
}
.promo4 {
  position: absolute;
  top: 720px;
  left: 159px;
  width: 305px;
  height: 275px;
  opacity: 0;
  font-size: var(--font-size-5xl);
  color: var(--color-lightslategray-200);
}
.profile-icon2 {
  position: absolute;
  top: 642px;
  left: 16px;
  width: 128px;
  height: 281px;
  object-fit: cover;
}
.bg-container {
  position: absolute;
  top: calc(50% - 466px);
  left: calc(50% - 703px);
  border-radius: var(--br-61xl) var(--br-77xl) var(--br-77xl) var(--br-61xl);
  border: 2px solid var(--color-ghostwhite);
  box-sizing: border-box;
  width: 1405px;
  height: 941px;
  overflow: hidden;
}
.left-icon1,
.low-1-icon1,
.low-2-icon1 {
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 245px);
  width: 128px;
  height: 121px;
  object-fit: contain;
}
.low-1-icon1,
.low-2-icon1 {
  top: calc(50% + 265px);
  left: calc(50% + 29px);
  width: 247.8px;
  height: 193.4px;
  opacity: 0;
}
.low-1-icon1 {
  left: calc(50% - 204px);
}
.right-icon1 {
  position: absolute;
  top: calc(50% + 54px);
  left: calc(50% + 399px);
  width: 168px;
  height: 159px;
  object-fit: cover;
}
.frame-top {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
